<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags - Admira Bootstrap Admin Template</title>

    <!--Stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <!--Logo Area Start-->
    <div class="logo-area">
        <div class="logo bg-primary text-white">
            <a href="index.html">Ad<span>mira.</span></a>
        </div>
        <div class="menu-icon bg-primary text-white">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <!--Logo Area End-->

    <!--Sidebar Start-->
    <div class="sidebar bg-dark">
        <ul>
            <li class="nav-title text-white">Navigation</li>
            <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="media.html"><i class="fas fa-images"></i> Media</a></li>
            <li class="has-child"><a href="#"><i class="fas fa-thumbtack"></i> Posts</a>
                <ul class="children">
                    <li><a href="posts.html">All Posts</a></li>
                    <li><a href="add-post.html">Add New</a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="tags.html">Tags</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="fab fa-buffer"></i> UI Elements</a>
                <ul class="children">
                    <li><a href="button.html">Button</a></li>
                    <li><a href="alert.html">Alert</a></li>
                    <li><a href="card.html">Card</a></li>
                    <li><a href="breadcrumb.html">Breadcrumb</a></li>
                    <li><a href="pagination.html">Pagination</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="fas fa-table"></i> Tables</a>
                <ul class="children">
                    <li><a href="basic-table.html">Basic Table</a></li>
                    <li><a href="datatable.html">Data Table</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="fab fa-wpforms"></i> Form Elements</a>
                <ul class="children">
                    <li><a href="basic-form.html">Basic</a></li>
                    <li><a href="advanced-form.html">Advanced</a></li>
                </ul>
            </li>
            <li class="has-child"><a href="#"><i class="fas fa-user-lock"></i></i> Authentication</a>
                <ul class="children">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="resetpass.html">Reset Password</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--Sidebar End-->

    <!--Header Start-->
    <div class="topbar bg-primary">
        <div class="dropdown profile-dropdown">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="images/users/1.jpg" class="width-40 round-img" alt="Image">
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Products</a></li>
                    <li><a class="dropdown-item" href="#">Downloads</a></li>
                    <li><a class="dropdown-item" href="#">My Cart</a></li>
                    <li><a class="dropdown-item" href="login.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Header End-->

    <!--Main Body Start-->
    <div class="main-body bg-light">
        <div class="wrapper p-3">
            <div class="breadcrumb-links">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item active">Tags</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-primary">
                        <div class="card-title">Add New Tag</div>
                        <div class="card-content">
                            <form action="#">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" class="form-control" placeholder="Enter category name">
                                </div>
                                <div class="form-group">
                                    <label for="slug">Slug</label>
                                    <input type="text" id="slug" class="form-control" placeholder="Enter slug">
                                </div>
                                <div class="form-group">
                                    <label class="d-block">Description</label>
                                    <textarea name="description" class="form-control" id="description"
                                        placeholder="Enter category description"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-dark flat">Add New Tag</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-title">All Category</div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <form class="form-inline">
                                        <select class="form-control w-50 mr-2">
                                            <option>Inactive</option>
                                            <option>Delete</option>
                                        </select>
                                        <button type="submit" class="btn btn-sm flat btn-primary">Search</button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-inline float-right">
                                        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Search tag">
                                        <button type="submit" class="btn btn-sm flat btn-primary mb-2">Search</button>
                                    </form>
                                </div>
                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <th>Name</th>
                                        <th>Slug</th>
                                        <th>Post Count</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <td>Tag One</td>
                                        <td>tag-one</td>
                                        <td>345</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <td>Tag Two</td>
                                        <td>tag-two</td>
                                        <td>644</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <td>Tag Three</td>
                                        <td>tag-three</td>
                                        <td>854</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <td>Tag Four</td>
                                        <td>tag-four</td>
                                        <td>167</td>
                                        <td>Active</td>
                                    </tr>
                                    <tr>
                                        <th><input type="checkbox"></th>
                                        <td>Tag Five</td>
                                        <td>tag-five</td>
                                        <td>644</td>
                                        <td>Active</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main Body End-->

    <!--Javascripts-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>